section {
    padding: 80px 0px;
}

.bg-color {
    background-color: #FAE6E5;
    border-radius: 10px;
}

.price {
    color: #ff136f;
}

.carousel-item {
    padding: 20px 40px;
}

.btn-buy {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.Catagories h1 {
    color: white;
}

.Catagories img {
    width: 100px;
}

.watch {
    background: orange;
    border-radius: 10px;
    padding: 10px 30px;
}

.bag {
    background: purple;
    border-radius: 10px;
    padding: 10px 30px;
}

.shoes {
    background: blue;
    border-radius: 10px;
    padding: 10px 30px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}

.subscri {
    height: 300px;
}

footer {
    text-align: center;
}